meta:
  title: Computer Architectures Practice Exam
  introduction: |
    Welcome to this computer architectures practice exam.

    * The exam must be completed within 90 minutes.
    * You may not use a calculator.
    * Please clearly note your name and student number on each page.

    Good luck!

exam_content:
- type: ParsonsProblem
  count: 2
- type: LogicProblem
  count: 5
- type: RadixConversionQuestion
  count: 10
- type: ManualOpenQuestion
  count: 1
- type: ManualMultipleChoiceQuestion
  count: 3
- type: ManualOpenQuestion
  count: 1
  group: "editors"

manual_open_questions:
- question: "does this graph look cool?"
  answer: 'yes'
  image: "testimage.png"
- question: "do you like computers?"
  answer: 'yes'
- question: "what is the best text editor?"
  group: "editors"
  answer: "vim"
- question: "is c beter than java?"
  answer: "obviously"
- question: "can you do conversion questions?"
  answer: "maybe"

manual_multiple_choice_questions:
- question: "Which text editor is best?"
  image: "testimage.png"
  answers:
    - "vim": True
    - "emacs": False
    - "nano": False
    - "notepad" : False
- question: "What bear is best?"
  randomize_order: True
  answers:
    - "black bear": True
    - "brown bear": False
    - "polar bear": False
    - "teddy bear": False
- question: "What is the Answer to the Ultimate Question of Life, the Universe, and Everything?"
  randomize_order: False
  answers:
    - "-1": False
    - "12": False
    - "24": False
    - "42": True

parsons_problems:
- description: "Testtekst"
  code: |
    Test 1
    Test 2
    Test 3
    Test 4
- description: "Pyramid printing function."
  image: "testimage.png"
  code: |
    #include<stdio.h>
    int main() {
        int i, j, rows;
        printf("Enter number of rows: ");
        scanf("%d", &rows);
        for (i=1; i<=rows; ++i) {
            for (j=1; j<=i; ++j)
            { printf("* "); }
            printf("\n");}
        return 0;}
